.header{
  padding: 20px 0;
  background-image: url(../../images/doctor.png);
  background-repeat: no-repeat;
  background-position: 90% -15%;
  background-color: #10ac8533;
}
.container{
  width: 95%;
  max-width: 1200px;
  margin: auto;
}
.header h1{
  color: #10ac84;
  font-size: 2.5rem;
  font-weight: 500;
}
.header p{
  color: #555;
  font-size: 1rem;
  margin: 10px 0;
}
.header h2{
  font-size: 1.5rem;
  color: #ee5253;
  font-weight: 400;
  letter-spacing: 3px;
}